h2 {
	color: #111; font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	margin: 0 0 30px;
	text-align: left;
}

p {
	color: #685206;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
}
